*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Inter';
    /* color: #1c3852; */
    background-color: transparent;
    color: black;
    background-color: #E9EAF8;
    
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b0026; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.catalogue-page {
/* border: red solid 3px; */
  /* padding:auto;
  margin:auto; */
  margin-top: 30px;
  height: 100%;
  text-align:center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between; 
  align-items: center;
  /* padding: 10px;  */
  flex-wrap: wrap;
  margin-inline: 50px;
  height: 100%;
}

@media only screen and (max-width: 768px) {
    /* for mobile phones */

    .catalogue-page {
    display: flex;
    flex-direction: column;
}
}

.product-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 20px;
/* border: blue 3px solid; */
}

/* .product-section:hover{

 background: rgba(255, 255, 255, 0.469);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.12); 
} */



.product-image {
  width: 90%;
  border-radius: 50px;
  /* content: url("images/product-5.jpg"); */
}
.product-image1 {
  width: 60%;
  height: 60%;
  display: none;
  /* content: url("images/product-5.jpg"); */
}
/* 
.product-image:hover {
  width: 700%;

  content: url("images/poster 2.png"); 

}
.product-image1:hover {
  width: 70%;
  display:inline;

}
 */

/* */

.product-section:hover{
    cursor: pointer;
}


.product-info {
  padding-top: 1em;
  width: 100%;
  text-align: center;
  /* padding-inline:4em;    180 × 226 px */
}
.brand {
  font-size: 25px;
}

.product-name a{
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
}
.product-name:hover{
    text-decoration: underline;
}

.product-fit {
  font-size: 30px;
  font-weight: italic;

}

.product-button {
  border: rgb(0, 0, 0) 3px solid; 
  background-color: #E9EAF8;
  padding: 10px 20px;
  color: black;
  border-radius: 150px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  width: 70%;
}