body{
    margin: 0;
    font-family: serif;
    background-color: #000;
}

#canvas3d{
    width: 100vw;
    height: 100vw;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
}