@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7b0026; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
/* categories : .single-prod-details .single-prod-desc .offer .testimonial .brands .categories  */

/* .single-prod-desc{
    display: none;
} .offer{
    display:none;
} .testimonial{
    display: none;
} .brands{
    display: none;
} .categories{
    display: none;
}  */
.varity{
    color: #D4AF37;
    text-align: center;
} 
.ignore{
    display: none;
} 
body{
    font-family: 'Unbounded', cursive;
    background-color: rgba(10, 10, 10, 0.616);
    border-radius: 20%;
    /*cursor: none;*/
}
a{
    text-decoration: none;
    color: #1111b8;
}
.container{
    max-width: 1300;
    margin:auto;
    /* padding-left:25px;
    padding-right: 25px; */
}
.row{
    /* border:#ff523b 5px solid;  */
    display:flex;
    /* align-items: center;  */
    flex-wrap: wrap; 
    /* padding-inline: 2em; */
    padding-block: 3em;
    justify-content: space-between;
}
.col-2{
    
}

.col-2 img{
    max-width: 100%;
    /* padding: 50px 0; */
}
.col-2 h1{
    font-size: 50px;
    line-height:60px;
    /* margin: 25px 0; */
}
/* .btn{
    display:inline-block;
    background-color: transparent;
    color: #1c3852; 
    border: solid #1c3852;
    padding: 8px 30px;
    text-decoration: none;
    color: #1c3852;
    padding-top:1em;
    border-radius: 3px;
    /* transition: background 0.7s; 
}  
.btn:hover{
    background:#1c3852 solid;
    color: white;
} */
.about{
    height: 200vh;
    display:flex;

}
.newdetails{
    display: none;
}
.about-title{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
    
}
.about-title-parralax{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
    
}
.about-pages{
    width: 100%;
}
.aboutdiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: olivedrab 5px solid; */
    padding-left: 3em;
    padding-right: 5em;
    padding-bottom: 5em;
    /* padding-inline: 2em; */
    /* border:palegreen 5px solid;  */
    flex-basis:50%;
    min-width: 300px;
}

.details-container{
    color: #f1f1f1f1 ;
}
.details-container .btn{
    width: 100%;
    text-align: center;
}
.product-specifications {
    margin-top: 20px;
    font-size: 16px;
  }
  .specification {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
  }
  .specification-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .container-12 {
        width: 80%;
        margin: 50px auto; 
        text-align:justify
      }
      .tab-container {
        margin-top: 1em;
        border-bottom: 1px solid #ccc;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      .tab {
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 13px;
      }
      .tab.active {
        border-bottom: 2px solid #1d1d1f;
      }
      .tab-content {
        text-align: center;
        /* border: red 5px solid; */
        display: none;
        padding: 20px; 
        margin-top: 20px; 
        width: 100%;
      }
      .tab-content.active {
        display: block;
      }

.line{
    width: 100%;
    background-color: red;
    height: 1px;
}
.select-size{
    padding-top: 1em;
}
.product-info {
    width: 100%;
    text-align: left;
    
    /* padding-inline:4em;    180 × 226 px */
  }
  .product-price{
    color: #f1f1f1f1;
  }
  .brand {
    padding-block: 0.25em;
    font-size: 11px;
    color: 
    #d9b08c;
  }

  .delivery{
    /* border: #D4AF37 5px solid;     #7f490e*/
    font-size: 13px;
    color: #7b0026;
    font-weight: 400;
    padding-bottom: 1em;
  }
  .detailslink{
    text-decoration: overline;
    /* font-size: 13px;
    font-weight: 400;
    color: #7f490e; */
  }

  .product-name {
    /* color: #d1e8e2; #21d5bo */
    color: #f1f1f1f1;
    font-size: 25px;
    padding-bottom: 1em;
  }


/*------- single product details -----*/
.single-product{
    margin-top: 2em;
    background-color: transparent;
    /* margin-bottom: 80px; */
    /* border: 5px red solid; */
}
.single-product p{
    padding-top: 2em;
}
.size{
    padding-top: 2em;
    /* display:flex;
    flex-direction: row; */
    /* text-align: center; */
}
/* .name{
    padding-bottom: 1em;
} */
.single-product .col-2 img{
    /* padding: 0; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    height: 80%;
    width: 80%;
}


.single-product .col-2{
    /* padding: 20px; */
    /* border: 5px yellow solid; */
    height: auto;
    /* width: fit-content; */
    color: #1d1d1f;
}

.single-product h4{
    text-align: justify;
    font-size: 22px;
    font-weight: bold;
    color: #1d1d1f;
}
/* .a1{
    border: red solid 5px solid;
    
} */
.single-product .btn{
        display:inline-block;
        background-color: #7b0026;
        color: #f1f1f1f1; 
        /* border: solid 3px black; */
        padding: 8px 30px;
        margin: 2em 0;
        border-radius: 10px;
        width: 100%;
        text-decoration: none;
        /* transition: background 0.7s; */
}
    .single-product .btn:hover{
    
        color: white;
        border: solid white 3px;
}
.hi .btn{
    display:inline-block;
    background-color: #7b0026;
    color: #f1f1f1f1; 
    /* border: solid 3px black; */
    padding: 8px 30px;
    margin: 2em 0;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    /* transition: background 0.7s; */
}
.hi .btn:hover{

    color: white;
    border: solid white 3px;
}
.product-name{
    font-size: 30px;
}
/* .single-product select{
    display:block;
    padding: 10px;
    margin-top: 10px;
    /* border: 1px solid #1c3852;
    color: #1c3852; 
    background-color: transparent;
} */

.select-size{
    width: 100%;
    display: flex;
    align-items: center;
    color: #f1f1f1f1;
    /* border: #7f490e 5px solid; */
}
.details-col-3{
    margin-right: 0.5em;
    /* padding: 1em;  */
    height: 3em;
    width: 3em; 
    border: #f1f1f1f1 1px solid;
    color: #f1f1f1f1;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-col-3:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    border:     #7b0026 1px solid;
}
.details-col-3.clicked {
    background-color:#7b0026;
    color:white;
  }
.size-chart p{
    display: flex;
    align-items: end;
    /* border: #e74141 5px solid; */
    padding:0;
    margin-top: 0.8em;
    font-size: smaller;
    font-style: italic;
    text-decoration: underline;
}

.size-chart p:hover{
    color:red;
    cursor: pointer;
}
.title {
    display: inline-block;
    align-items: start;
    margin-right: 10px;
    font-size: 20;
    font-weight: bold;
    
  }
  
  .plus-button {
    /* display: inline-block; */
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: #7b0026;
  }
  .description-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f1f1f1f1;

  }
  .content-box {
    display: none;
  }
  
  .content-textarea {
    width: 300px;
    height: 150px;
  }
  
  .save-button {
    margin-top: 10px;
  }
  .header {
    position: relative;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 2em;
  }
  
  .header::before,
  .header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: 0.2px solid #f1f1f1f1;
  }
  
  .header::before {
    top: 0;
  }
  .up{
    display: none;
  }
  .down{
    display:block;
  }
  .header::after {
    bottom: 0;
  }
  
  .header-title {
    margin: 0;
  }
  
  
.small-img-row{
     /* border:red solid 5px;  */
    width: 70%;
    /* padding-top: 0.2em; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #9e3485; */
    margin-left: auto;
    margin-right: auto;
}
.small-img-col{

    flex-basis: 24%;
    cursor: pointer;
    /* border: 1px solid #3bff79; */
}


/*------- media query for menu ------- */
@media only screen and (max-width: 800px){

    nav ul {
        position: absolute;
        top:70px;
        left: 0;
        background-color: transparent;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top:10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*---media query for less than 600 screen size--*/
@media only screen and (max-width: 800px){
    .single-prod-details{
        /* border: #11b83e 5px solid; */
        padding:5px;
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        
    }
    .about{
        display:inline-block; 
        justify-content: center;
        align-items: center;
        /* border: #11b83e 5px solid; */
        padding:5px;
        display: flex;
        flex-basis: 100%;
    }
    .about-pages{
        display: none; 
    }
    .newdetails{
        display: block;
    }
    .about-title {
        /* border: #b81111 5px solid; */
        /* display: flex;
        flex-basis: 100%; */
        
            width: 100%;
            height: 100vh;
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            align-items: center;
            font-size: 30px;
            margin: 0!important;
            
        
    } 
    .row, .page-btn{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;

    }
    .cart-info p{
        display: none;
    }
}

.categories-row{
    /* border:#ff523b 5px solid; */
    display:flex;
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.categories-col-2{

    flex-basis:50%;
    min-width: 300px;
}

.categories-col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.categories-col-2 h1{
    font-size: 50px;
    line-height:60px;
    margin: 25px 0;
}
.categories-btn{
    display:inline-block;
    background-color: transparent;
    color: #1c3852; 
    border: solid #1c3852;
    padding: 8px 30px;
    margin: 2em 0;
    border-radius: 3px;
    /* transition: background 0.7s; */
}
.categories-btn:hover{
    background:#1c3852 solid;
    color: white;
}
.categories{
    margin:70px 0;
}
.categories-col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.categories-col-3 img{
    width: 100%;
}
.categories-container{
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
.categories-col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.categories-col-4 img{
    width:100%;
}
.categories-title{
    font-size: 40px;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 100px;
    color: grey;
}
.categories-title::after{
    content:'';
    background: #d6a997;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
categories-h4{
    color: #555;
    font-weight: normal;
}
.categories-col-4 p{
    font-size: 14px;
}
.categories-rating .fa{
    color:#ff523b;
}
.categories-col-4:hover{
    transform: translateY(-5px);
}
/*--------- offer --------*/

.offer{
    background-color: transparent;
    margin-top: 80px;
    padding: 30px 0;
}
.categories-col-2 .offer-img{
    padding: 50px;

}
.categories-small {
    color: #555;
}
/* ------- testimonial  ------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .categories-col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0  0 20px 0px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    transition: transform 0.5s ;
}
.testimonial .categories-col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .categories-col-3:hover{
    transform: translateY(-10px);
}
.categories-fa.fa-quote-Left{
    font-size: 34px;
    color: #1c3852;
}
.categories-col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .categories-col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*-------brands----*/
.brands{
    margin: 100px auto;
}
.categories-col-5{
    width: 160px;
}
.categories-col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.categories-col5 img:hover{
    filter: grayscale(0%);
}
