@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.varity{
    color: #D4AF37;
    text-align: center;
}
body{
    font-family: 'Unbounded', cursive;
    background-color: white;
    /*cursor: none;*/
}
/*.small{ 
    width: 10px;
    height: 10px;
    border: 3px solid #333;
    border-radius: 50%;
    display:hidden;
  } */
.navbar{
    display:flex;
    align-items:center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li {
    display:inline-block;
    margin-right:20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}
.row{
    /* border:#ff523b 5px solid; */
    display:flex;
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.col-2{

    flex-basis:50%;
    min-width: 300px;
}
.col-2 .details-container{

    /* padding-inline: 2em; */
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height:60px;
    margin: 25px 0;
}
.btn{
    display:inline-block;
    background: white;
    color: #1c3852; 
    border: solid #1c3852;
    padding: 8px 30px;
    margin: 2em 0;
    border-radius: 3px;
    /* transition: background 0.7s; */
}
.btn:hover{
    background:#1c3852 solid;
    color: white;
}
.details-container .btn{
    width: 100%;
    text-align: center;
}
.product-specifications {
    margin-top: 20px;
    font-size: 16px;
  }
  .specification {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  .specification-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .container-12 {
        width: 80%;
        margin: 50px auto;
        text-align: center;
      }
      .tab-container {
        margin-top: 50px;
        border-bottom: 1px solid #ccc;
        display: inline-block;
        width: 100%;
      }
      .tab {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
      }
      .tab.active {
        border-bottom: 2px solid #333;
      }
      .tab-content {
        display: none;
        padding: 20px;
        background-color: #f2f2f2;
        margin-top: 20px;
        width: 100%;
      }
      .tab-content.active {
        display: block;
      }
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin:70px 0;
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    font-size: 40px;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    line-height: 100px;
    color: grey;
}
.title::after{
    content:'';
    background: #d6a997;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color:#ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*--------- offer --------*/

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;

}
small {
    color: #555;
}
/* ------- testimonial  ------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0  0 20px 0px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    transition: transform 0.5s ;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-Left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*-------brands----*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col5 img:hover{
    filter: grayscale(0%);
}
/*------footer-----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 20px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis:30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}


/*------ALL products ------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin:0 auto 80px;
    text-align: center;
}
.page-btn span{
    display: inline-block;
    border:1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}



/*------- single product details -----*/
.single-product{
    background-color: white;
    margin-bottom: 80px;
    /* border: 5px red solid; */
}
.single-product p{
    padding-top: 2em;
}
.size{
    padding-top: 3em;
    display:flex;
    flex-direction: row;
}
/* .name{
    padding-bottom: 1em;
} */
.single-product .col-2 img{
    padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    height: 80%;
}

.single-product .col-2{
    /* padding: 20px; */
    /* border: 5px yellow solid; */
    height: auto;
    width: fit-content;
    color: #1c3852;
}

.single-product h4{
    text-align: justify;
    font-size: 22px;
    font-weight: bold;
    color: #1c3852;
}
.single-product .btn{
        display:inline-block;
        background: white;
        color: #1c3852; 
        border: solid #1c3852;
        padding: 8px 30px;
        margin: 2em 0;
        border-radius: 3px;
        width: 50%;
        /* transition: background 0.7s; */
}
    .single-product .btn:hover{
        background:#1c3852;
        color: white;
}

.single-product select{
    display:block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #1c3852;;
    color: #1c3852;
    background-color: white;
}
/* .details{       
    flex-basis:50%;
    min-width: 300px;
    padding-top: 0%;
} */

.select-size{


}
.details-col-3{
    padding-block: 2em;
    padding-inline: 2em;
}

.single-product a:hover{
    border:#1c3852 solid 3px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #1c3852;;
    color: #1c3852;
    background-color:white;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #1c3852;
    margin-left: 10px;
}

.small-img-row{
    padding-top: 0.2em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #9e3485; */
    margin-left: auto;
    margin-right: auto;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    /* border: 1px solid #3bff79; */
}


/*------- cart items ------- */
.row-product{
    column-width: 50%;
}
.other-row{
    text-align: center;
    column-width: 12.5%;
}
.cart-page{
    margin: 80px auto;
    width: 75%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.my-cart{
    /*border: #D4AF37 solid 5px;
     margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 10em; */
    width: 221px;
  height: 81px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute;
  top: 153px;
  left: 30px; */
  overflow: hidden;
}
.other-row span{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
td span{
    display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
}
.v5_91 {
    width: 326px;
    height: 5px;
    background: #1c3852;
    opacity: 1;
    /* position: absolute;
    top: 65px;
    left: 0px; */
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    overflow: hidden;
  }
.verysmallcontainer{
    padding-top: 2em;
    display: table;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.verysmallcontainer p{
    text-align: center;
}
  .check{
    border:#1c3852 solid 5px;
    margin-bottom: 1em;
    height: 1px;
    background: rgba(213,168,150,1);
    opacity: 1;
    padding-right: 4em;
    /* display: flex;
    align-items: end;
    justify-content: end; */
  }

  .v5_92 {
    width: 191px;
    color: #1c3852;
    /* position: relative;
    top: 0px;
    left: 0px; */
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
  }
  .v5_27 {
    width: 91px;
    color: #1c3852;
    position: absolute;
    top: 49px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
tr{
    background: white;
}
th{
    text-align: left;
    padding: 5px;
    color: #1c3852;
    background: white;
    font-weight: normal;
}
td{
    padding:10px 5px;
    color: #1c3852;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
}
td input {
    width:40px;
    height: 30px;
    padding: 5px;

}
td a{
    justify-content: center;
    color: #1c3852;
    font-size: 12px;
}
td img {
    width:80px;
    height:80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.total-price table{
    border-top: 3px solid #1c3852;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align:right;
}
.label{
    padding-right: 4em; 
    /*display: flex; 
    align-items: end;
    justify-content: end; */
    float: right;
}
.label p{
    color: #1c3852;
    margin-bottom: 1em;
}
.buttons{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}
.totals{
    /* border: #D4AF37 solid 5px; */
    width: 221px;
  height: 81px;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  bottom: 153px;
  right: 30px;
}




/* figma product page */

.v5_110 {
    color:grey;
    /* padding-top: 1px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 472px;
    height: 510px;  
    /* width: 20%;  472
    height: 50%;  510 */
    /* background: url("images/pngwing.com\ \(3\).png"); */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1; */
    position: relative;
   /* top: 0px;
    left: 0px; */
    overflow: hidden; 
    margin-block: 0.5em;
    margin-inline: 0.5em;
    background: #282828;
    border-radius: 11px;
  }
  .v5_112 {
    width: 364px;
    /* color: rgba(213,168,150,0.5);   54 */
    /* color: grey; */
    position: absolute;
    top: 60px;   
    left: 35px; 
    font-family: Inter;
    font-weight: Bold;
    font-size: 100px;
    opacity: 0.1;
    display: table;
    margin: 0 auto;
  }
  .v5_113 {
    
    width: 289px;
    height: 274px;
    background: url("images/pngwing.com\ \(3\).png"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 104px;
    left: 88px;
    overflow: hidden;
  }
  .v5_110 p {
    width: 50%;
    /* color: grey; */
    position: relative;
    top: 403px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    /* text-align: center; */
    display: table;
    margin: 0 auto;
  }
 /* p.click-text {
    border-radius: 20px;
    width: 80%;
    height: 80%;
    color: rgb(250, 15, 250);
    position: relative;
    top: 0px;
    font-family: Inter;
    font-weight: Regular;
    text-align: center;
    font-size: 30px;
    /* text-align: center; 
    display: none;
    margin: 0 auto;
    /* From https://css.glass 
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }  */
  .v5_110 .btn {
    width: 50%;
    color: grey;
    background-color: #282828;
    border-color: grey;
    position: relative;
    top: 420px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    /* text-align: center; */
    display: table;
    margin: 0 auto;
    transition: background 0s;
    /* display:none; */
  }
.v5_110 .btn:hover{
    color: #282828;
    background-color: grey;
    border-color: #282828;
}
.v5_110 .btn {
    color: grey;
    background-color: #282828;
    border-color: grey;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center; 
    transition: background 0s;
  }
.btn:hover{
    color: #282828;
    background-color: grey;
    border-color: #282828;
    cursor: pointer;
}
.a{
        font-size: 16px;
        display: table;
        margin: 0 auto;
    }

  .v5_115 {
    text-align: center;
    
    width: 163px;
    height: 34px;
    /* background: url("../images/v5_115.png"); */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    opacity: 1;
    position: relative;
    top: 452px;
    /* left: 151px;  */
    overflow: hidden;
  }
  .v5_116 {
    width: 81px;
    /* color: grey; */
    position: relative;
    top: 10px;
    left: 41px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }

  .v5_117 {
    /* border: #D4AF37 solid 5px; */
    width: 163px;
    height: 34px;
    color: #1c3852;
    background-color: white;
    /* background: url("../images/v5_117.png"); */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative; */
    /* top: 0px;
    left: 0px; */
    border: 3px solid #1c3852;
    border-radius: 11px;
    /* border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px; */
  }


  .v5_118 {
    font-size: 14px;
    color: grey; 
    position: relative;
    top: -20px; 
    /* left: 205px; */
    font-family: Inter;
    font-weight: Bold;
    opacity: 1;
  }

 .v5_110:hover
/* .hover-color:hover */
{
    display:block;
    background: #282828;
    /* border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px); */
    cursor: pointer;
     
}
.v5_110:hover p{
    /* display: block;
    color: #5f3bff; */
    text-decoration-line: underline;
}
/* cart page styling */
.btn{
    display:inline-block;
    background: white;
    color: #1c3852; 
    border: solid #1c3852;
    padding: 8px 30px;
    margin: 2em 0;
    border-radius: 3px;
    /* transition: background 0.7s; */
}
.btn:hover{
    background:#1c3852 solid;
    color: white;
}


/*------- media query for menu ------- */
@media only screen and (max-width: 800px){

    nav ul {
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top:10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*---media query for less than 600 screen size--*/
@media only screen and (max-width: 600px){
    .row, .page-btn{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;

    }
    .cart-info p{
        display: none;
    }
}